In [1]:
##import library

import pandas as pd

In [2]:
## import dataset

df = pd.read_excel("data/DeltekDataMay2025.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16385 entries, 0 to 16384
Data columns (total 65 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Date Signed / Action Date                    16385 non-null  datetime64[ns]
 1   FY                                           16385 non-null  int64
 2   Action Type                                  16385 non-null  object
 3   Contract Number                              16385 non-null  object
 4   Contract Name                                16385 non-null  object
 5   Contract Vehicle                             6640 non-null   object
 6   Reason For Mod                               16385 non-null  object
 7   Action Amt ($K)                              16385 non-null  float64
 8   Contract FY 2024 Spend ($K)                  2663 non-null   float64
 9   Contract Spend to Date ($K)                  12354 non-null  float64
 10  Contract Ceiling Value ($K)                  12354 non-null  float64
 11  Contract Award Date                          12354 non-null  datetime64[ns]
 12  Contract Start Date                          12354 non-null  datetime64[ns]
 13  Contract Last Date to Order                  6525 non-null   datetime64[ns]
 14  Contract Ultimate Expiration Date            5829 non-null   datetime64[ns]
 15  Ultimate Completion Date of Transaction      15513 non-null  datetime64[ns]
 16  Task Order Number                            9863 non-null   object
 17  Modification Number                          16385 non-null  object
 18  Task Order Award Date                        10003 non-null  datetime64[ns]
 19  Task Order Start Date                        10003 non-null  datetime64[ns]
 20  Task Order Ultimate Expiration Date          9684 non-null   datetime64[ns]
 21  Task Order FY 2024 Spending ($K)             3451 non-null   float64
 22  Task Order Spending to Date ($K)             10003 non-null  float64
 23  Task Order Ceiling Value ($K)                9987 non-null   float64
 24  Task Order Percent of Ceiling Value Spent    5326 non-null   float64
 25  Funding Department                           16385 non-null  object
 26  Funding Agency                               15395 non-null  object
 27  Funding Division                             6554 non-null   object
 28  Funding Office                               2020 non-null   object
 29  Contracting Department                       16385 non-null  object
 30  Contracting Agency                           15648 non-null  object
 31  Contracting Division                         7056 non-null   object
 32  Contracting Office                           2280 non-null   object
 33  Category                                     16385 non-null  object
 34  Product or Service                           16385 non-null  object
 35  PSC-Description                              16385 non-null  object
 36  NAICS-Description                            16385 non-null  object
 37  Vendor                                       16385 non-null  object
 38  UEI                                          16385 non-null  object
 39  Contract Requirement Description             16384 non-null  object
 40  Requirement Category                         7598 non-null   object
 41  CO Business Size Determination               16385 non-null  object
 42  Small Disadvantaged Business                 16385 non-null  object
 43  Self Certified Small Disadvantaged Business  16385 non-null  object
 44  8(a)                                         16385 non-null  object
 45  SBA Certified 8(a) JV                        16385 non-null  object
 46  Veteran Owned                                16385 non-null  object
 47  Service-Disabled Veteran Owned               16385 non-null  object
 48  HUBZone                                      16385 non-null  object
 49  Self Certified HUBZone JV                    16385 non-null  object
 50  Woman Owned                                  16385 non-null  object
 51  Woman Owned Small Business                   16385 non-null  object
 52  EDWOSB                                       16385 non-null  object
 53  WOSB JV                                      16385 non-null  object
 54  EDWOSB JV                                    16385 non-null  object
 55  Alaska Native Corporation Owned              16385 non-null  object
 56  AbilityOne                                   16385 non-null  object
 57  Contract Type                                16385 non-null  object
 58  Set-Aside                                    16385 non-null  object
 59  Extent Competed                              16385 non-null  object
 60  Solicitation Procedure                       16385 non-null  object
 61  Place of Performance City                    15022 non-null  object
 62  Place of Performance State                   15022 non-null  object
 63  Place of Performance Country                 16385 non-null  object
 64  Place of Performance Country Code            15513 non-null  object
dtypes: datetime64[ns](9), float64(8), int64(1), object(47)
memory usage: 8.1+ MB

In [3]:
## remove columns not needed for analysis 

df1 = df.drop(df.columns[[1,2,3,8,9,10,12, 13, 16, 17,18,19,20,21,22,23,24,25,26,27,28,31,32,34,35,38,40,64]], axis=1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16385 entries, 0 to 16384
Data columns (total 37 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Date Signed / Action Date                    16385 non-null  datetime64[ns]
 1   Contract Name                                16385 non-null  object
 2   Contract Vehicle                             6640 non-null   object
 3   Reason For Mod                               16385 non-null  object
 4   Action Amt ($K)                              16385 non-null  float64
 5   Contract Award Date                          12354 non-null  datetime64[ns]
 6   Contract Ultimate Expiration Date            5829 non-null   datetime64[ns]
 7   Ultimate Completion Date of Transaction      15513 non-null  datetime64[ns]
 8   Contracting Department                       16385 non-null  object
 9   Contracting Agency                           15648 non-null  object
 10  Category                                     16385 non-null  object
 11  NAICS-Description                            16385 non-null  object
 12  Vendor                                       16385 non-null  object
 13  Contract Requirement Description             16384 non-null  object
 14  CO Business Size Determination               16385 non-null  object
 15  Small Disadvantaged Business                 16385 non-null  object
 16  Self Certified Small Disadvantaged Business  16385 non-null  object
 17  8(a)                                         16385 non-null  object
 18  SBA Certified 8(a) JV                        16385 non-null  object
 19  Veteran Owned                                16385 non-null  object
 20  Service-Disabled Veteran Owned               16385 non-null  object
 21  HUBZone                                      16385 non-null  object
 22  Self Certified HUBZone JV                    16385 non-null  object
 23  Woman Owned                                  16385 non-null  object
 24  Woman Owned Small Business                   16385 non-null  object
 25  EDWOSB                                       16385 non-null  object
 26  WOSB JV                                      16385 non-null  object
 27  EDWOSB JV                                    16385 non-null  object
 28  Alaska Native Corporation Owned              16385 non-null  object
 29  AbilityOne                                   16385 non-null  object
 30  Contract Type                                16385 non-null  object
 31  Set-Aside                                    16385 non-null  object
 32  Extent Competed                              16385 non-null  object
 33  Solicitation Procedure                       16385 non-null  object
 34  Place of Performance City                    15022 non-null  object
 35  Place of Performance State                   15022 non-null  object
 36  Place of Performance Country                 16385 non-null  object
dtypes: datetime64[ns](4), float64(1), object(32)
memory usage: 4.6+ MB

In [4]:
## format as categories

df1[["Solicitation Procedure","CO Business Size Determination","Small Disadvantaged Business", "Self Certified Small Disadvantaged Business","HUBZone"]]=df[["Solicitation Procedure","CO Business Size Determination","Small Disadvantaged Business", "Self Certified Small Disadvantaged Business","HUBZone"]].astype("category")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16385 entries, 0 to 16384
Data columns (total 37 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Date Signed / Action Date                    16385 non-null  datetime64[ns]
 1   Contract Name                                16385 non-null  object
 2   Contract Vehicle                             6640 non-null   object
 3   Reason For Mod                               16385 non-null  object
 4   Action Amt ($K)                              16385 non-null  float64
 5   Contract Award Date                          12354 non-null  datetime64[ns]
 6   Contract Ultimate Expiration Date            5829 non-null   datetime64[ns]
 7   Ultimate Completion Date of Transaction      15513 non-null  datetime64[ns]
 8   Contracting Department                       16385 non-null  object
 9   Contracting Agency                           15648 non-null  object
 10  Category                                     16385 non-null  object
 11  NAICS-Description                            16385 non-null  object
 12  Vendor                                       16385 non-null  object
 13  Contract Requirement Description             16384 non-null  object
 14  CO Business Size Determination               16385 non-null  category
 15  Small Disadvantaged Business                 16385 non-null  category
 16  Self Certified Small Disadvantaged Business  16385 non-null  category
 17  8(a)                                         16385 non-null  object
 18  SBA Certified 8(a) JV                        16385 non-null  object
 19  Veteran Owned                                16385 non-null  object
 20  Service-Disabled Veteran Owned               16385 non-null  object
 21  HUBZone                                      16385 non-null  category
 22  Self Certified HUBZone JV                    16385 non-null  object
 23  Woman Owned                                  16385 non-null  object
 24  Woman Owned Small Business                   16385 non-null  object
 25  EDWOSB                                       16385 non-null  object
 26  WOSB JV                                      16385 non-null  object
 27  EDWOSB JV                                    16385 non-null  object
 28  Alaska Native Corporation Owned              16385 non-null  object
 29  AbilityOne                                   16385 non-null  object
 30  Contract Type                                16385 non-null  object
 31  Set-Aside                                    16385 non-null  object
 32  Extent Competed                              16385 non-null  object
 33  Solicitation Procedure                       16385 non-null  category
 34  Place of Performance City                    15022 non-null  object
 35  Place of Performance State                   15022 non-null  object
 36  Place of Performance Country                 16385 non-null  object
dtypes: category(5), datetime64[ns](4), float64(1), object(27)
memory usage: 4.1+ MB

In [5]:
## Breakdown of reasons given for terminating the contract
df1['Reason For Mod'].value_counts().to_frame()

                                                 count
Reason For Mod
Terminate for Convenience (complete or partial)  15086
Legal Contract Cancellation                       1173
Terminate for Cause                                 81
Terminate for Default (complete or partial)         45

In [6]:
df1['Reason For Mod'].value_counts(normalize = True)

Reason For Mod
Terminate for Convenience (complete or partial)    0.920720
Legal Contract Cancellation                        0.071590
Terminate for Cause                                0.004944
Terminate for Default (complete or partial)        0.002746
Name: proportion, dtype: float64

In [7]:
## Distill dataset to only include "Termination for convenience"

filtered_df = df1[df1['Reason For Mod'] == 'Terminate for Convenience (complete or partial)']

# Sample check

filtered_df.sample(5)

,Date Signed / Action Date,Contract Name,Contract Vehicle,Reason For Mod,Action Amt ($K),Contract Award Date,Contract Ultimate Expiration Date,Ultimate Completion Date of Transaction,Contracting Department,Contracting Agency,...,EDWOSB JV,Alaska Native Corporation Owned,AbilityOne,Contract Type,Set-Aside,Extent Competed,Solicitation Procedure,Place of Performance City,Place of Performance State,Place of Performance Country
9223,2025-03-05,"BENDER, TUBE, HAND: BEND RADIUS: 180 DEGREE UN...",NaN,Terminate for Convenience (complete or partial),-0.60,2024-09-09,2025-03-05,2025-03-05,GENERAL SERVICES ADMINISTRATION,FEDERAL ACQUISITION SERVICE,...,N,N,N,Firm Fixed Price,Small Business Set Aside - Total,Competed under SAP,Simplified Acquisition,Gainesville,GA,United States
12681,2025-02-13,GSA CONSOLIDATED MULTIPLE AWARD SCHEDULE,GSA CONSOLIDATED MULTIPLE AWARD SCHEDULE,Terminate for Convenience (complete or partial),-0.16,NaT,NaT,2025-02-13,GENERAL SERVICES ADMINISTRATION,FEDERAL ACQUISITION SERVICE,...,N,N,N,Fixed Price with Economic Price Adjustment,Not Reported,Full and Open Competition,Multiple Awards Fair Opportunity,Warren,MI,United States
6826,2025-03-19,TRAY DESK WALNUT SH WT 30#,NaN,Terminate for Convenience (complete or partial),-0.59,2024-10-17,2025-03-19,2025-03-19,GENERAL SERVICES ADMINISTRATION,FEDERAL ACQUISITION SERVICE,...,N,N,N,Firm Fixed Price,No Set Aside Used,Not Competed under SAP,Simplified Acquisition,Norwood,MA,United States
49,2025-05-01,BAA-19-00123 - PMWP#125 - EFFICACY OF CHRONIC ...,NaN,Terminate for Convenience (complete or partial),0.00,2020-09-28,2025-05-01,2025-05-01,HEALTH AND HUMAN SERVICES,FOOD AND DRUG ADMINISTRATION,...,N,N,N,Firm Fixed Price,No Set Aside Used,Full and Open Competition,Negotiated Proposal,Philadelphia,PA,United States
13780,2025-02-05,"1-YEAR, FIRM-FIXED-PRICE (FFP) TYPE PURCHASE O...",NaN,Terminate for Convenience (complete or partial),0.00,2023-09-27,2025-02-05,2025-02-05,HEALTH AND HUMAN SERVICES,FOOD AND DRUG ADMINISTRATION,...,N,N,N,Firm Fixed Price,Small Business Set Aside - Total,Competed under SAP,Simplified Acquisition,Silver Spring,MD,United States

In [8]:
## Calculate the proportion of SDBs that had contracts terminated for convenience

filtered_df.groupby('Self Certified Small Disadvantaged Business').count()

/var/folders/q4/gw0xzyt51vn2p6xn25t2vw1m0000gn/T/ipykernel_57508/2460708900.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  filtered_df.groupby('Self Certified Small Disadvantaged Business').count()

,Date Signed / Action Date,Contract Name,Contract Vehicle,Reason For Mod,Action Amt ($K),Contract Award Date,Contract Ultimate Expiration Date,Ultimate Completion Date of Transaction,Contracting Department,Contracting Agency,...,EDWOSB JV,Alaska Native Corporation Owned,AbilityOne,Contract Type,Set-Aside,Extent Competed,Solicitation Procedure,Place of Performance City,Place of Performance State,Place of Performance Country
Self Certified Small Disadvantaged Business,,,,,,,,,,,,,,,,,,,,,
N,12287,12287,5380,12287,12287,8547,4096,11950,12287,11773,...,12287,12287,12287,12287,12287,12287,12287,11536,11536,12287
Y,2799,2799,859,2799,2799,2544,1166,2643,2799,2594,...,2799,2799,2799,2799,2799,2799,2799,2596,2596,2799

In [9]:
ratio_SDB = 2799/(2799+12287)*100
round(ratio_SDB,2)

18.55

In [10]:
## Calculate the total value of SDB canceled contracts

filtered_df.groupby('Self Certified Small Disadvantaged Business')['Action Amt ($K)'].sum().to_frame()

/var/folders/q4/gw0xzyt51vn2p6xn25t2vw1m0000gn/T/ipykernel_57508/601764110.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  filtered_df.groupby('Self Certified Small Disadvantaged Business')['Action Amt ($K)'].sum().to_frame()

                                             Action Amt ($K)
Self Certified Small Disadvantaged Business
N                                                 -531221.72
Y                                                 -115672.36

In [11]:
total_value = filtered_df['Action Amt ($K)'].sum()
total_value

-646894.0800000001

In [12]:
## Calculate the percentage of SDB canceled contract value as percentage of overall canceled contract value for all businesses

self_certified_value = 130301.97/total_value*100
round((self_certified_value)*-1,2)

20.14

In [13]:
## Calculate the percentage of SDB canceled contract numbers as percentage of overall canceled contracts for all businesses 

self_certified_count = 2799/(2799+12287)*100
round(self_certified_count,2)

18.55

In [14]:
## Narrow down the dataset to just self certified small disadvantaged businesses

SDB_df = filtered_df[df['Self Certified Small Disadvantaged Business'] == 'Y']
SDB_df['Self Certified Small Disadvantaged Business'].sample(10)

/var/folders/q4/gw0xzyt51vn2p6xn25t2vw1m0000gn/T/ipykernel_57508/2665393992.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  SDB_df = filtered_df[df['Self Certified Small Disadvantaged Business'] == 'Y']

11115    Y
35       Y
15749    Y
1911     Y
5861     Y
14491    Y
485      Y
4998     Y
6593     Y
5361     Y
Name: Self Certified Small Disadvantaged Business, dtype: category
Categories (2, object): ['N', 'Y']

In [15]:
## List 20 SDB vendors who had most contracts canceled 

SDB_df.groupby(['Vendor'])['Reason For Mod'].count().nlargest(20)

Vendor
F & M MICRO PRODUCTS INC                                      137
MANAGEMENT & ENGINEERING TECHNOLOGIES INTERNATIONAL (METI)     83
VMS AIRCRAFT COMPANY, INC                                      67
MBA OFFICE SUPPLY INC.                                         55
TYNES PROPERTY MANAGEMENT LLC                                  49
DOMESTIC AWARDEES (UNDISCLOSED)                                39
COMPLETE PACKAGING, SHIPPING &                                 38
KPAUL PROPERTIES, LLC                                          36
SYNERGY AMERICA INCORPORATED                                   35
NOREX GROUP, LLC                                               33
AXLE INFORMATICS, LLC                                          28
CHEROKEE NATION BUSINESSES, LLC                                26
ASRT, INC                                                      18
ROSE LI & ASSOCIATES, INC.                                     18
TANAQ SUPPORT SERVICES, LLC                                    17
GOLDBELT, INCORPORATED                                         16
STAG ENTERPRISE INC                                            16
NEW TECH SOLUTIONS, INC (FREMONT, CA)                          15
WINDSOR GROUP                                                  15
STAR POLY BAG, INC.                                            14
Name: Reason For Mod, dtype: int64

In [16]:
## List 20 SDB vendors who had the most value of contracts canceled

SDB_df.groupby(['Vendor'])['Action Amt ($K)'].sum().nlargest(20)

Vendor
HERITAGE INTERIORS, LLC             1353.28
ITS AGILE, LLC                      1233.48
AT-IMPACT LLC                       1117.40
MARVEL CONSULTING LLC                194.50
KAUFFMAN & ASSOCIATES, INC.          108.64
ASCELLA TECHNOLOGIES, INC.            65.12
BLUEPRINT CREATIVE GROUP, LLC         42.33
DYNAMIC INTEGRATED SERVICES, LLC      11.67
11TH HOUR SEARCH                       0.00
2BFOCUSED INC.                         0.00
2M RESEARCH SERVICES, LLC              0.00
2NDWAVE LLC                            0.00
3KPC, INC.                             0.00
4ES CORPORATION                        0.00
A KING DAILEY LLC                      0.00
A P VENTURES, LLC                      0.00
A-1 ANHERMA, LLC                       0.00
A-TEAM SOLUTIONS, LLC                  0.00
A1FEDIMPACT, LLC                       0.00
AALIS MANAGEMENT CONSULTING LLC        0.00
Name: Action Amt ($K), dtype: float64

In [17]:
## Calculate the geographic spread of contract terminations for convenience by count

filtered_df.groupby(['Place of Performance State'])['Action Amt ($K)'].count().nlargest(10)

Place of Performance State
DC    1801
VA    1272
IL    1255
GA    1123
MD    1122
NY    1113
MI     827
MA     675
CA     674
OH     496
Name: Action Amt ($K), dtype: int64

In [18]:
## Calculate the geographic spread of contract terminations for convenience by value

filtered_df.groupby(['Place of Performance State'])['Action Amt ($K)'].sum().nsmallest(10)

Place of Performance State
TX   -113204.36
VA    -87579.18
DC    -87508.71
FL    -61646.05
MD    -37054.61
MI    -36349.82
CA    -30504.57
GA    -23777.52
UT    -23705.93
AZ    -13328.56
Name: Action Amt ($K), dtype: float64

In [24]:
## import subcontractor data 

dfsub = pd.read_excel("data/DeltekDataSubMay2025.xlsx")
dfsub.info()

/opt/anaconda3/lib/python3.12/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Cell D1749 is marked as a date but the serial value 4700256154 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Cell D1750 is marked as a date but the serial value 4700323399 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Cell D1751 is marked as a date but the serial value 4700324086 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Cell D2142 is marked as a date but the serial value 4700469719 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Cell D2143 is marked as a date but the serial value 4700469202 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Cell D2144 is marked as a date but the serial value 4700469189 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Cell D2279 is marked as a date but the serial value 2300000399 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Cell D2280 is marked as a date but the serial value 5300011063 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Cell D2281 is marked as a date but the serial value 2300000398 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3563 entries, 0 to 3562
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   SubAward Action Date         3563 non-null   datetime64[ns]
 1   SubAward Action Fiscal Year  3563 non-null   int64
 2   SubAward Amount ($K)         3563 non-null   float64
 3   SubAward #                   3554 non-null   object
 4   SubAward Description         3562 non-null   object
 5   Subcontractor                3563 non-null   object
 6   Sub Socio Status             2486 non-null   object
 7   PoP Country                  3563 non-null   object
 8   PoP State                    3041 non-null   object
 9   PoP City                     3380 non-null   object
 10  PoP Zip                      3112 non-null   object
 11  NAICS                        3563 non-null   int64
 12  NAICS Description            3563 non-null   object
 13  Prime Contract #             3563 non-null   object
 14  Prime Task Order #           3563 non-null   object
 15  Prime Contractor             3563 non-null   object
 16  Prime Socio Status           2212 non-null   object
 17  Funding Department           3563 non-null   object
 18  Funding Agency               3386 non-null   object
 19  Funding Office               2398 non-null   object
 20  Funding Division             407 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(17)
memory usage: 584.7+ KB

In [30]:
## clean the dataset and remove columns

dfsub1 = dfsub.drop(dfsub.columns[[1,3,7,10,13,14,19,20]], axis=1)
dfsub1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3563 entries, 0 to 3562
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SubAward Action Date  3563 non-null   datetime64[ns]
 1   SubAward Amount ($K)  3563 non-null   float64
 2   SubAward Description  3562 non-null   object
 3   Subcontractor         3563 non-null   object
 4   Sub Socio Status      2486 non-null   object
 5   PoP State             3041 non-null   object
 6   PoP City              3380 non-null   object
 7   NAICS                 3563 non-null   int64
 8   NAICS Description     3563 non-null   object
 9   Prime Contractor      3563 non-null   object
 10  Prime Socio Status    2212 non-null   object
 11  Funding Department    3563 non-null   object
 12  Funding Agency        3386 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 362.0+ KB

In [32]:
dfsub1[["Sub Socio Status","Prime Socio Status"]]=dfsub1[["Sub Socio Status","Prime Socio Status"]].astype("category")
dfsub1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3563 entries, 0 to 3562
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SubAward Action Date  3563 non-null   datetime64[ns]
 1   SubAward Amount ($K)  3563 non-null   float64
 2   SubAward Description  3562 non-null   object
 3   Subcontractor         3563 non-null   object
 4   Sub Socio Status      2486 non-null   category
 5   PoP State             3041 non-null   object
 6   PoP City              3380 non-null   object
 7   NAICS                 3563 non-null   int64
 8   NAICS Description     3563 non-null   object
 9   Prime Contractor      3563 non-null   object
 10  Prime Socio Status    2212 non-null   category
 11  Funding Department    3563 non-null   object
 12  Funding Agency        3386 non-null   object
dtypes: category(2), datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 328.0+ KB

In [38]:
dfsub1.head()

,SubAward Action Date,SubAward Amount ($K),SubAward Description,Subcontractor,Sub Socio Status,PoP State,PoP City,NAICS,NAICS Description,Prime Contractor,Prime Socio Status,Funding Department,Funding Agency
0,2021-05-25,100.86,SUBCONTRACTOR WILL BE PERFORMING THE SPRAY FOA...,"DIVISION 7, INC.",Women-Owned,CO,BOULDER,236220,Commercial and Institutional Building Construc...,WHITING-TURNER CONTRACTING COMPANY,NaN,COMMERCE,NATIONAL INSTITUTE OF STANDARDS AND TECHNOLOGY
1,2021-06-09,1557.00,SUBCONTRACTOR WILL FURNISH AND INSTALL TELECOM...,STURGEON ELECTRIC CO INC,NaN,CO,BOULDER,236220,Commercial and Institutional Building Construc...,WHITING-TURNER CONTRACTING COMPANY,NaN,COMMERCE,NATIONAL INSTITUTE OF STANDARDS AND TECHNOLOGY
2,2021-03-03,1224.72,SUBCONTRACTOR IS RESPONSIBLE FOR FURNISH AND ...,"BAKER CONCRETE CONSTRUCTION, INC",NaN,CO,BOULDER,236220,Commercial and Institutional Building Construc...,WHITING-TURNER CONTRACTING COMPANY,NaN,COMMERCE,NATIONAL INSTITUTE OF STANDARDS AND TECHNOLOGY
3,2021-03-12,1111.99,SUBCONTRACTOR IS RESPONSIBLE FOR FURNISH AND I...,"SANTA FE GLASS, INC.",Small Business (in one or more NAICS)|Small Bu...,CO,BOULDER,236220,Commercial and Institutional Building Construc...,WHITING-TURNER CONTRACTING COMPANY,NaN,COMMERCE,NATIONAL INSTITUTE OF STANDARDS AND TECHNOLOGY
4,2021-03-24,50.00,"SUBCONTRACTOR SHALL FURNISH, INSTALL AND REMOV...","AMERICAN FENCE AND SECURITY COMPANY, INC.",Small Business (in one or more NAICS),CO,BOULDER,236220,Commercial and Institutional Building Construc...,WHITING-TURNER CONTRACTING COMPANY,NaN,COMMERCE,NATIONAL INSTITUTE OF STANDARDS AND TECHNOLOGY