In [1]:
##import library

import pandas as pd

In [43]:
## import dataset

df = pd.read_excel("data/DeltekDataMay2025.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16385 entries, 0 to 16384
Data columns (total 65 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Date Signed / Action Date                    16385 non-null  datetime64[ns]
 1   FY                                           16385 non-null  int64
 2   Action Type                                  16385 non-null  object
 3   Contract Number                              16385 non-null  object
 4   Contract Name                                16385 non-null  object
 5   Contract Vehicle                             6640 non-null   object
 6   Reason For Mod                               16385 non-null  object
 7   Action Amt ($K)                              16385 non-null  float64
 8   Contract FY 2024 Spend ($K)                  2663 non-null   float64
 9   Contract Spend to Date ($K)                  12354 non-null  float64
 10  Contract Ceiling Value ($K)                  12354 non-null  float64
 11  Contract Award Date                          12354 non-null  datetime64[ns]
 12  Contract Start Date                          12354 non-null  datetime64[ns]
 13  Contract Last Date to Order                  6525 non-null   datetime64[ns]
 14  Contract Ultimate Expiration Date            5829 non-null   datetime64[ns]
 15  Ultimate Completion Date of Transaction      15513 non-null  datetime64[ns]
 16  Task Order Number                            9863 non-null   object
 17  Modification Number                          16385 non-null  object
 18  Task Order Award Date                        10003 non-null  datetime64[ns]
 19  Task Order Start Date                        10003 non-null  datetime64[ns]
 20  Task Order Ultimate Expiration Date          9684 non-null   datetime64[ns]
 21  Task Order FY 2024 Spending ($K)             3451 non-null   float64
 22  Task Order Spending to Date ($K)             10003 non-null  float64
 23  Task Order Ceiling Value ($K)                9987 non-null   float64
 24  Task Order Percent of Ceiling Value Spent    5326 non-null   float64
 25  Funding Department                           16385 non-null  object
 26  Funding Agency                               15395 non-null  object
 27  Funding Division                             6554 non-null   object
 28  Funding Office                               2020 non-null   object
 29  Contracting Department                       16385 non-null  object
 30  Contracting Agency                           15648 non-null  object
 31  Contracting Division                         7056 non-null   object
 32  Contracting Office                           2280 non-null   object
 33  Category                                     16385 non-null  object
 34  Product or Service                           16385 non-null  object
 35  PSC-Description                              16385 non-null  object
 36  NAICS-Description                            16385 non-null  object
 37  Vendor                                       16385 non-null  object
 38  UEI                                          16385 non-null  object
 39  Contract Requirement Description             16384 non-null  object
 40  Requirement Category                         7598 non-null   object
 41  CO Business Size Determination               16385 non-null  object
 42  Small Disadvantaged Business                 16385 non-null  object
 43  Self Certified Small Disadvantaged Business  16385 non-null  object
 44  8(a)                                         16385 non-null  object
 45  SBA Certified 8(a) JV                        16385 non-null  object
 46  Veteran Owned                                16385 non-null  object
 47  Service-Disabled Veteran Owned               16385 non-null  object
 48  HUBZone                                      16385 non-null  object
 49  Self Certified HUBZone JV                    16385 non-null  object
 50  Woman Owned                                  16385 non-null  object
 51  Woman Owned Small Business                   16385 non-null  object
 52  EDWOSB                                       16385 non-null  object
 53  WOSB JV                                      16385 non-null  object
 54  EDWOSB JV                                    16385 non-null  object
 55  Alaska Native Corporation Owned              16385 non-null  object
 56  AbilityOne                                   16385 non-null  object
 57  Contract Type                                16385 non-null  object
 58  Set-Aside                                    16385 non-null  object
 59  Extent Competed                              16385 non-null  object
 60  Solicitation Procedure                       16385 non-null  object
 61  Place of Performance City                    15022 non-null  object
 62  Place of Performance State                   15022 non-null  object
 63  Place of Performance Country                 16385 non-null  object
 64  Place of Performance Country Code            15513 non-null  object
dtypes: datetime64[ns](9), float64(8), int64(1), object(47)
memory usage: 8.1+ MB

In [110]:
## remove columns not needed for analysis 

df1 = df.drop(df.columns[[1,2,3,8,9,10,12, 13, 16, 17,18,19,20,21,22,23,24,25,26,27,28,31,32,34,35,36,38,40,64]], axis=1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16385 entries, 0 to 16384
Data columns (total 36 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Date Signed / Action Date                    16385 non-null  datetime64[ns]
 1   Contract Name                                16385 non-null  object
 2   Contract Vehicle                             6640 non-null   object
 3   Reason For Mod                               16385 non-null  object
 4   Action Amt ($K)                              16385 non-null  float64
 5   Contract Award Date                          12354 non-null  datetime64[ns]
 6   Contract Ultimate Expiration Date            5829 non-null   datetime64[ns]
 7   Ultimate Completion Date of Transaction      15513 non-null  datetime64[ns]
 8   Contracting Department                       16385 non-null  object
 9   Contracting Agency                           15648 non-null  object
 10  Category                                     16385 non-null  object
 11  Vendor                                       16385 non-null  object
 12  Contract Requirement Description             16384 non-null  object
 13  CO Business Size Determination               16385 non-null  object
 14  Small Disadvantaged Business                 16385 non-null  object
 15  Self Certified Small Disadvantaged Business  16385 non-null  object
 16  8(a)                                         16385 non-null  object
 17  SBA Certified 8(a) JV                        16385 non-null  object
 18  Veteran Owned                                16385 non-null  object
 19  Service-Disabled Veteran Owned               16385 non-null  object
 20  HUBZone                                      16385 non-null  object
 21  Self Certified HUBZone JV                    16385 non-null  object
 22  Woman Owned                                  16385 non-null  object
 23  Woman Owned Small Business                   16385 non-null  object
 24  EDWOSB                                       16385 non-null  object
 25  WOSB JV                                      16385 non-null  object
 26  EDWOSB JV                                    16385 non-null  object
 27  Alaska Native Corporation Owned              16385 non-null  object
 28  AbilityOne                                   16385 non-null  object
 29  Contract Type                                16385 non-null  object
 30  Set-Aside                                    16385 non-null  object
 31  Extent Competed                              16385 non-null  object
 32  Solicitation Procedure                       16385 non-null  object
 33  Place of Performance City                    15022 non-null  object
 34  Place of Performance State                   15022 non-null  object
 35  Place of Performance Country                 16385 non-null  object
dtypes: datetime64[ns](4), float64(1), object(31)
memory usage: 4.5+ MB

In [114]:
## format as categories

df1[["Solicitation Procedure","CO Business Size Determination","Small Disadvantaged Business", "Self Certified Small Disadvantaged Business","HUBZone"]]=df[["Solicitation Procedure","CO Business Size Determination","Small Disadvantaged Business", "Self Certified Small Disadvantaged Business","HUBZone"]].astype("category")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16385 entries, 0 to 16384
Data columns (total 36 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Date Signed / Action Date                    16385 non-null  datetime64[ns]
 1   Contract Name                                16385 non-null  object
 2   Contract Vehicle                             6640 non-null   object
 3   Reason For Mod                               16385 non-null  object
 4   Action Amt ($K)                              16385 non-null  float64
 5   Contract Award Date                          12354 non-null  datetime64[ns]
 6   Contract Ultimate Expiration Date            5829 non-null   datetime64[ns]
 7   Ultimate Completion Date of Transaction      15513 non-null  datetime64[ns]
 8   Contracting Department                       16385 non-null  object
 9   Contracting Agency                           15648 non-null  object
 10  Category                                     16385 non-null  object
 11  Vendor                                       16385 non-null  object
 12  Contract Requirement Description             16384 non-null  object
 13  CO Business Size Determination               16385 non-null  category
 14  Small Disadvantaged Business                 16385 non-null  category
 15  Self Certified Small Disadvantaged Business  16385 non-null  category
 16  8(a)                                         16385 non-null  object
 17  SBA Certified 8(a) JV                        16385 non-null  object
 18  Veteran Owned                                16385 non-null  object
 19  Service-Disabled Veteran Owned               16385 non-null  object
 20  HUBZone                                      16385 non-null  category
 21  Self Certified HUBZone JV                    16385 non-null  object
 22  Woman Owned                                  16385 non-null  object
 23  Woman Owned Small Business                   16385 non-null  object
 24  EDWOSB                                       16385 non-null  object
 25  WOSB JV                                      16385 non-null  object
 26  EDWOSB JV                                    16385 non-null  object
 27  Alaska Native Corporation Owned              16385 non-null  object
 28  AbilityOne                                   16385 non-null  object
 29  Contract Type                                16385 non-null  object
 30  Set-Aside                                    16385 non-null  object
 31  Extent Competed                              16385 non-null  object
 32  Solicitation Procedure                       16385 non-null  category
 33  Place of Performance City                    15022 non-null  object
 34  Place of Performance State                   15022 non-null  object
 35  Place of Performance Country                 16385 non-null  object
dtypes: category(5), datetime64[ns](4), float64(1), object(26)
memory usage: 4.0+ MB

In [210]:
## Breakdown of reasons given for terminating the contract
df1['Reason For Mod'].value_counts().to_frame()

                                                 count
Reason For Mod
Terminate for Convenience (complete or partial)  15086
Legal Contract Cancellation                       1173
Terminate for Cause                                 81
Terminate for Default (complete or partial)         45

In [148]:
df1['Reason For Mod'].value_counts(normalize = True)

Reason For Mod
Terminate for Convenience (complete or partial)    0.920720
Legal Contract Cancellation                        0.071590
Terminate for Cause                                0.004944
Terminate for Default (complete or partial)        0.002746
Name: proportion, dtype: float64

In [154]:
## Distill dataset to only include "Termination for convenience"

filtered_df = df1[df1['Reason For Mod'] == 'Terminate for Convenience (complete or partial)']

# Sample check

filtered_df.sample(5)

,Date Signed / Action Date,Contract Name,Contract Vehicle,Reason For Mod,Action Amt ($K),Contract Award Date,Contract Ultimate Expiration Date,Ultimate Completion Date of Transaction,Contracting Department,Contracting Agency,...,EDWOSB JV,Alaska Native Corporation Owned,AbilityOne,Contract Type,Set-Aside,Extent Competed,Solicitation Procedure,Place of Performance City,Place of Performance State,Place of Performance Country
8054,2025-03-12,GSA CONSOLIDATED MULTIPLE AWARD SCHEDULE,GSA CONSOLIDATED MULTIPLE AWARD SCHEDULE,Terminate for Convenience (complete or partial),-0.29,2006-04-05,NaT,2025-03-12,GENERAL SERVICES ADMINISTRATION,FEDERAL ACQUISITION SERVICE,...,N,N,N,Firm Fixed Price,Not Reported,Full and Open Competition,Multiple Awards Fair Opportunity,Forrest City,AR,United States
5906,2025-03-25,GSA CONSOLIDATED MULTIPLE AWARD SCHEDULE,GSA CONSOLIDATED MULTIPLE AWARD SCHEDULE,Terminate for Convenience (complete or partial),0.00,NaT,NaT,2025-06-19,DEFENSE NUCLEAR FACILITIES SAFETY BOARD,NaN,...,N,N,N,Time and Materials,Not Reported,Full and Open Competition,Multiple Awards Fair Opportunity,Washington,DC,United States
15009,2025-01-28,4610064280!NITROGEN LIQUID,NaN,Terminate for Convenience (complete or partial),-3.97,2020-10-29,NaT,2025-02-28,DEFENSE,DEFENSE LOGISTICS AGENCY,...,N,N,N,Firm Fixed Price,Not Reported,Full and Open Competition,Negotiated Proposal,Tulsa,OK,United States
10067,2025-02-28,PILOT TEST FOR SAFETY SKILLS AT WORK,NaN,Terminate for Convenience (complete or partial),0.00,2021-06-21,2025-02-12,2025-02-12,HEALTH AND HUMAN SERVICES,CENTERS FOR DISEASE CONTROL AND PREVENTION,...,N,N,N,Firm Fixed Price,No Set Aside Used,Not Competed under SAP,Simplified Acquisition,Tumwater,WA,United States
14406,2025-01-30,ENGINEERING TECH SERVICES,NaN,Terminate for Convenience (complete or partial),0.00,2018-02-07,NaT,2024-11-01,NAVY,NAVAL AIR SYSTEMS COMMAND,...,N,N,N,Firm Fixed Price,No Set Aside Used,Not Competed,Single Source Solicited,NaN,NaN,Italy

In [156]:
## Calculate the proportion of SDBs that had contracts terminated for convenience

filtered_df.groupby('Self Certified Small Disadvantaged Business').count()

/var/folders/q4/gw0xzyt51vn2p6xn25t2vw1m0000gn/T/ipykernel_22992/2460708900.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  filtered_df.groupby('Self Certified Small Disadvantaged Business').count()

,Date Signed / Action Date,Contract Name,Contract Vehicle,Reason For Mod,Action Amt ($K),Contract Award Date,Contract Ultimate Expiration Date,Ultimate Completion Date of Transaction,Contracting Department,Contracting Agency,...,EDWOSB JV,Alaska Native Corporation Owned,AbilityOne,Contract Type,Set-Aside,Extent Competed,Solicitation Procedure,Place of Performance City,Place of Performance State,Place of Performance Country
Self Certified Small Disadvantaged Business,,,,,,,,,,,,,,,,,,,,,
N,12287,12287,5380,12287,12287,8547,4096,11950,12287,11773,...,12287,12287,12287,12287,12287,12287,12287,11536,11536,12287
Y,2799,2799,859,2799,2799,2544,1166,2643,2799,2594,...,2799,2799,2799,2799,2799,2799,2799,2596,2596,2799

In [170]:
ratio_SDB = 2799/(2799+12287)*100
round(ratio_SDB,2)

18.55

In [126]:
## Calculate the total value of SDB canceled contracts

filtered_df.groupby('Self Certified Small Disadvantaged Business')['Action Amt ($K)'].sum().to_frame()

                                             Action Amt ($K)
Self Certified Small Disadvantaged Business
N                                                 -531221.72
Y                                                 -115672.36

In [162]:
total_value = filtered_df['Action Amt ($K)'].sum()
total_value

-646894.0800000001

In [184]:
## Calculate the percentage of SDB canceled contract value as percentage of overall canceled contract value for all businesses

self_certified_value = 130301.97/total_value*100
round((self_certified_value)*-1,2)

20.14

In [212]:
## Calculate the percentage of SDB canceled contract numbers as percentage of overall canceled contracts for all businesses 

self_certified_count = 2799/(2799+12287)*100
round(self_certified_count,2)

18.55

In [186]:
## Narrow down the dataset to just self certified small disadvantaged businesses

SDB_df = filtered_df[df['Self Certified Small Disadvantaged Business'] == 'Y']
SDB_df['Self Certified Small Disadvantaged Business'].sample(10)

/var/folders/q4/gw0xzyt51vn2p6xn25t2vw1m0000gn/T/ipykernel_22992/2665393992.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  SDB_df = filtered_df[df['Self Certified Small Disadvantaged Business'] == 'Y']

2037    Y
4403    Y
4369    Y
8233    Y
80      Y
9275    Y
431     Y
1203    Y
3512    Y
1737    Y
Name: Self Certified Small Disadvantaged Business, dtype: category
Categories (2, object): ['N', 'Y']

In [190]:
## List 20 SDB vendors who had most contracts canceled 

SDB_df.groupby(['Vendor'])['Reason For Mod'].count().nlargest(20)

Vendor
F & M MICRO PRODUCTS INC                                      137
MANAGEMENT & ENGINEERING TECHNOLOGIES INTERNATIONAL (METI)     83
VMS AIRCRAFT COMPANY, INC                                      67
MBA OFFICE SUPPLY INC.                                         55
TYNES PROPERTY MANAGEMENT LLC                                  49
DOMESTIC AWARDEES (UNDISCLOSED)                                39
COMPLETE PACKAGING, SHIPPING &                                 38
KPAUL PROPERTIES, LLC                                          36
SYNERGY AMERICA INCORPORATED                                   35
NOREX GROUP, LLC                                               33
AXLE INFORMATICS, LLC                                          28
CHEROKEE NATION BUSINESSES, LLC                                26
ASRT, INC                                                      18
ROSE LI & ASSOCIATES, INC.                                     18
TANAQ SUPPORT SERVICES, LLC                                    17
GOLDBELT, INCORPORATED                                         16
STAG ENTERPRISE INC                                            16
NEW TECH SOLUTIONS, INC (FREMONT, CA)                          15
WINDSOR GROUP                                                  15
STAR POLY BAG, INC.                                            14
Name: Reason For Mod, dtype: int64

In [192]:
## List 20 SDB vendors who had the most value of contracts canceled

SDB_df.groupby(['Vendor'])['Action Amt ($K)'].sum().nlargest(20)

Vendor
HERITAGE INTERIORS, LLC             1353.28
ITS AGILE, LLC                      1233.48
AT-IMPACT LLC                       1117.40
MARVEL CONSULTING LLC                194.50
KAUFFMAN & ASSOCIATES, INC.          108.64
ASCELLA TECHNOLOGIES, INC.            65.12
BLUEPRINT CREATIVE GROUP, LLC         42.33
DYNAMIC INTEGRATED SERVICES, LLC      11.67
11TH HOUR SEARCH                       0.00
2BFOCUSED INC.                         0.00
2M RESEARCH SERVICES, LLC              0.00
2NDWAVE LLC                            0.00
3KPC, INC.                             0.00
4ES CORPORATION                        0.00
A KING DAILEY LLC                      0.00
A P VENTURES, LLC                      0.00
A-1 ANHERMA, LLC                       0.00
A-TEAM SOLUTIONS, LLC                  0.00
A1FEDIMPACT, LLC                       0.00
AALIS MANAGEMENT CONSULTING LLC        0.00
Name: Action Amt ($K), dtype: float64

In [204]:
## Calculate the geographic spread of contract terminations for convenience by count

filtered_df.groupby(['Place of Performance State'])['Action Amt ($K)'].count().nlargest(10)

Place of Performance State
DC    1801
VA    1272
IL    1255
GA    1123
MD    1122
NY    1113
MI     827
MA     675
CA     674
OH     496
Name: Action Amt ($K), dtype: int64

In [208]:
## Calculate the geographic spread of contract terminations for convenience by value

filtered_df.groupby(['Place of Performance State'])['Action Amt ($K)'].sum().nsmallest(10)

Place of Performance State
TX   -113204.36
VA    -87579.18
DC    -87508.71
FL    -61646.05
MD    -37054.61
MI    -36349.82
CA    -30504.57
GA    -23777.52
UT    -23705.93
AZ    -13328.56
Name: Action Amt ($K), dtype: float64